@use "../../styles/forward.scss" as *;

.about {
  &Title {
    margin-bottom: 45px;
  }

  &Subtitle {
    margin-bottom: 60px;
  }

  &Description {
    margin-bottom: 100px;
  }

  @media all and (max-width: $screenXxlMax) {
    &Title {
      margin-bottom: 45px;
    }
  
    &Subtitle {
      margin-bottom: 40px;
    }
  
    &Description {
      margin-bottom: 60px;
    }
  }

  @media all and (max-width: $screenSmMax) {
    text-align: center;
    
    &Title {
      margin-bottom: 32px;
    }
  
    &Subtitle {
      margin-bottom: 20px;
    }
  
    &Description {
      margin-bottom: 20px;
    }
  }
}