@use "../../styles/forward.scss" as *;

.slider {
  margin-top: 50px;
  margin-bottom: 50px;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media all and (max-width: $screenSmMax) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

