@use "forward" as *;

@font-face {
  font-family: 'HalvarBreit';
  src: url('../assets/fonts/HalvarBreit-Rg.woff') format('woff');
  src: url('../assets/fonts/HalvarBreit-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HalvarBreit';
  src: url('../assets/fonts/HalvarBreit-XBd.woff') format('woff');
  src: url('../assets/fonts/HalvarBreit-XBd.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HalvarMittel';
  src: url('../assets/fonts/HalvarMittel-Rg.woff') format('woff');
  src: url('../assets/fonts/HalvarMittel-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HalvarMittel';
  src: url('../assets/fonts/HalvarMittel-Bd.woff') format('woff');
  src: url('../assets/fonts/HalvarMittel-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: $font;
  font-size: 16px;
  line-height: $lineHeight;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: $cBlack;
}

html {
  /* for firefox */
  scrollbar-color: #8f8f8f #cccccc;
  scrollbar-width: thin;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #cccccc;
}

html::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
}

body.no-scroll{
  overflow: hidden !important;
  padding-right: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, border-color 0.3s ease;
}

a:hover {
  color: inherit;
}

.typography-h1 {
  font-size: 48px;
  font-weight: $fBold;
  line-height: $lineHeightTitle;
  padding: 16px 36px;  
  border: 3px solid;
  width: max-content;
  text-transform: uppercase;
}

.typography-h2 {
  font-size: 48px;
  font-weight: $fBold;
  line-height: $lineHeight;
  text-transform: uppercase;
}

.typography-body1 {
  font-size: 36px;
  font-weight: $fRegular;
  line-height: $lineHeight;
}

.typography-body2 {
  font-family: $fontMittel;
  font-size: 28px;
  font-weight: $fRegular;
  line-height: $lineHeight;
}

.typography-body3 {
  font-size: 17px;
  font-weight: $fRegular;
  line-height: $lineHeight;
  text-transform: uppercase;
}

.typography-menu {
  font-size: 26px;
  font-weight: $fBold;
  line-height: 1.8;
  text-transform: uppercase;
}

.pink {
  color: $cPink;
}

.white {
  color: $cWhite;
}

.bold {
  font-weight: $fBold;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  &-inner {
    padding: 115px 0;
  }
}

@media all and (max-width: $screenXxlMax) {
  .typography-h1,
  .typography-h2  {
    font-size: 38px;
  }
  
  .typography-body1 {
    font-size: 26px;
  }
  
  .typography-body2 {
    font-size: 22px;
  }

  .container-inner {
    padding: 70px 0;
  }
}

@media all and (max-width: $screenLgMax) {
  .typography-h1,
  .typography-h2  {
    font-size: 22px;
  }
  
  .typography-body1 {
    font-size: 18px;
  }
  
  .typography-body2,
  .typography-body3 {
    font-size: 16px;
  }

  .container-inner {
    padding: 50px 0;
  }
}