@use "../../styles/forward.scss" as *;

.menu {
  @include clear-list;
  display: flex;
  align-items: center;

  &Item {
    font-size: 26px;
    font-weight: $fBold;
    line-height: $lineHeight;
    text-transform: uppercase;
    margin-right: 70px;

    a {
      border-bottom: 3px solid transparent;
      transition: border-color 0.3s ease;      
    }

    &:hover a {
      border-color: $cPink;
    }
  }

  @media all and (max-width: $screenXxlMax) {
    &Item {
      font-size: 22px;
    }    
  }

  @media all and (max-width: $screenLgMax) {
    // display: none;
  }
}

.active {
  border-bottom: 3px solid $cPink !important;
}